<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table,
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {

{#

    google.visualization.arrayToDataTable([
      [{label: 'Country', type: 'string'},
       {label: 'Population', type: 'number'},
       {label: 'Area', type: 'number'},
       {type: 'string', role: 'annotation'}],
      ['CN', 1324, 9640821, 'Annotated'],
      ['IN', 1133, 3287263, 'Annotated'],
      ['US', 304, 9629091, 'Annotated'],
      ['ID', 232, 1904569, 'Annotated'],
      ['BR', 187, 8514877, 'Annotated']
    ]);

    google.visualization.arrayToDataTable([
	    [
           {label: 'Country', type: 'string'},
           {label: 'Population', type: 'number'},
        ],
	    ['6ac7e110',63],            
        ['c46d6636',72],            
        ['73ecda87',91],            
        ['b6c7c643',84],            
        ['e359d755',97]    
    ]);


Here is my new goal:
    
    google.charts.load('current', {'packages':['line', 'corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {

var button = document.getElementById('change-chart');
var chartDiv = document.getElementById('chart_div');

var data = new google.visualization.DataTable();
data.addColumn('date', 'Month');
data.addColumn('number', "Average Temperature");
data.addColumn('number', "Average Hours of Daylight");

data.addRows([
  [new Date(2014, 0),  -.5,  5.7],
  [new Date(2014, 1),   .4,  8.7],
  [new Date(2014, 2),   .5,   12],
  [new Date(2014, 3),  2.9, 15.3],
  [new Date(2014, 4),  6.3, 18.6],
  [new Date(2014, 5),    9, 20.9],
  [new Date(2014, 6), 10.6, 19.8],
  [new Date(2014, 7), 10.3, 16.6],
  [new Date(2014, 8),  7.4, 13.3],
  [new Date(2014, 9),  4.4,  9.9],
  [new Date(2014, 10), 1.1,  6.6],
  [new Date(2014, 11), -.2,  4.5]
]);

var classicOptions = {
  title: 'Average Temperatures and Daylight in Iceland Throughout the Year',
  width: 900,
  height: 500,
  // Gives each series an axis that matches the vAxes number below.
  series: {
    0: {targetAxisIndex: 0},
    1: {targetAxisIndex: 1}
  },
  vAxes: {
    // Adds titles to each axis.
    0: {title: 'Temps (Celsius)'},
    1: {title: 'Daylight'}
  },
  hAxis: {
    ticks: [new Date(2014, 0), new Date(2014, 1), new Date(2014, 2), new Date(2014, 3),
            new Date(2014, 4),  new Date(2014, 5), new Date(2014, 6), new Date(2014, 7),
            new Date(2014, 8), new Date(2014, 9), new Date(2014, 10), new Date(2014, 11)
           ]
  },
  vAxis: {
    viewWindow: {
      max: 30
    }
  }
};


new google.visualization
    .LineChart(chartDiv)
    .draw(data, classicOptions);


}
    
#}


    
// Create the data table.
{% spaceless %}
var data = google.visualization.arrayToDataTable(
	    [

            [
                {label: 'Label', type: 'string'},
                {label: 'Sales', type: 'number'},
             ],

    {% for data_set in data_sets %}
        [
            {% for data in data_set %}
                {% if data matches '/^\\d+$/' %}
                    {{- data -}}
                {% else %}
                    '{{ data }}'
                {% endif %}
                {% if not loop.last %},{% endif %}
            {% endfor %}
        ]
        {% if not loop.last %},{% endif %}
    {% endfor %}
]);
{% endspaceless %}

// Set chart options
var options = {
	'title':'{{ title }}',
    titleTextStyle: {
        color: '#{{ title_color }}',
        fontName: 'Arial',
        fontSize: 10
    },
    'legend': {
        textStyle: {
            color: '#{{ chart_legend.color }}', 
            fontSize: 16
        }
    },
    'width': {{chart_width }},
    'height': {{chart_height }},

};

// Instantiate and draw our chart, passing in some options.
var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
chart.draw(data, options);
}
</script>
<!--Div that will hold the pie chart-->
<div id="chart_div"></div>
